@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* mobile first */

:root {
    --verde: #5CA720;
    --preto: #161616;
    --footer: #F9F9F9;
    --linhas: #e4dede;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
    color: var(--preto);
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.header-menu ul li {
    display: inline;
}

.header-menu-items {
    width: 3.3rem;
    height: 1.9rem;
}

.header-banner {
    background: url(../assets/banner.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 20rem;
}

.section-products-header {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 2rem;
    align-items: center;
    font-size: 1.35rem;
    border-bottom: 0.01rem solid var(--linhas);
}

.section-products-header :nth-child(1) {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.section-products-card:hover {
    box-shadow:
        0.1rem 0.1rem transparent,
        0.1rem 0.1rem transparent,
        0.1rem 0.1rem transparent;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    cursor: pointer;
}

.section-products-content {
    display: flex;
    justify-content: center;
}

.section-products-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(12rem, 1fr));
    grid-gap: 4rem;
    margin-top: 2rem;
}

.products-card-header {
    background-repeat: no-repeat;
    background-size: cover;
    width: 13rem;
    height: 13rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.products-card-header.p1 {
    background-image: url(../assets/products/p1.jpg);
}.products-card-header.p2 {
    background-image: url(../assets/products/p2.jpg);
}.products-card-header.p3 {
    background-image: url(../assets/products/p3.jpg);
}.products-card-header.p4 {
    background-image: url(../assets/products/p4.jpg);
}.products-card-header.p5 {
    background-image: url(../assets/products/p5.jpg);
}.products-card-header.p6 {
    background-image: url(../assets/products/p6.jpg);
}.products-card-header.p7 {
    background-image: url(../assets/products/p7.jpg);
}.products-card-header.p8 {
    background-image: url(../assets/products/p8.jpg);
}.products-card-header.p9 {
    background-image: url(../assets/products/p9.jpg);
}

.products-card-desc {
    font-weight: 600;
    font-size: 1.2rem;
}

.products-card-desc span {
    color: var(--verde);
}

footer {
    background-color: var(--footer);
    margin-top: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 4rem;
    border-top: 0.01rem solid var(--linhas);
}

.footer-info,
.footer-others {
    margin-bottom: 2rem;
    padding: 0 2rem 0 2rem;
}

.footer-info p {
    padding: 0.3rem;
    cursor: pointer;
}

.footer-info p:hover {
    color: var(--verde);
}

.footer-newsletter {
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
}

.footer-newsletter input {
    margin-top: 1rem;
    border: none;
    outline: none;
    padding: 1.5rem;
}

.footer-newsletter a {
    margin-top: 2rem;
    background-color: var(--verde);
    border-radius: 0.3rem;
    padding: 1rem;
    color: white;
    font-weight: 600;
    text-align: center;
}

.footer-others {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 0.01rem solid var(--linhas);
}

.footer-others img {
    width: 3rem;
    height: 2.6rem;
    padding: 0.3rem;
}

@media not all and (min-width: 310.98px) {
   
    /* z-fold */
    .section-products-content {
        justify-content: flex-end;
    }

    .section-products-grid {
        grid-gap: 2rem;
    }

    .products-card-header {
        width: 9rem;
        height: 9rem;
    }

    .products-card-desc {
        font-size: 0.9rem;
    }
}

/* responsividade */

@media (min-width: 600px) {
    .section-products-grid {
        grid-gap: 7rem;
    }

    .header-menu img {
        height: 2.5rem;
    }

    .header-banner {
        height: 30rem;
    }

    .products-card-header {
        width: 20rem;
        height: 20rem;
    }

    .products-card-desc {
        font-size: 1.8rem;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
    }

    .footer-newsletter {
        display: unset;
    }
}

@media (min-width: 768px) {
    .section-products-grid {
        grid-template-columns: repeat(3, minmax(12rem, 1fr));
    }
}

@media (min-width: 1024px) {
    .products-card-header {
        width: 25rem;
        height: 25rem;
    }
}