@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --orange: #D2872C;
    --gray: #766F68;
    --color-button-hover: #555CA0;
    --margin-content: 3.6rem
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    margin: 0 auto;
    max-width: 120rem;
    height: 6rem ;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: var(--margin-content);
}

.header-logo {
    color: var(--orange);
    font-size: 3rem;
    font-weight: 700;
}

.header-menu-items {
    padding: 0.7rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--gray);
}

.header-menu-items:hover {   
    color: var(--orange);
    transition: all .3s ease-in-out;
}

main {
    color: var(--gray);
    padding-left: 4rem;
    position: relative;
    margin: 10rem auto 0 auto;
    max-width: 1200px;
    height: 100vh;
}

.main-content {
    max-width: 75rem;
    position: relative;
    z-index: 2;
}
.main-content h1 {
    font-size: 7.5em;
    font-weight: bold;
    margin-bottom: var(--margin-content);
}

.main-content p {
    font-size: 3.1rem;
   max-width: 45rem;
   font-weight: 300;
   margin-bottom: var(--margin-content);
   position: relative;
}

.main-content button {
    background-color: var(--orange);
    border-radius: 12px;
    border: none;
    height: 6rem;
    width: 30rem;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

.main-content button:hover {
    background-color: var(--color-button-hover);
    transition: all .3s ease-in-out;
}

.main-image-aside img {
    max-width: 78rem;
    position: absolute;
    right: -2rem;
    top: 3rem;
    z-index: 1;
}

/* dispositivos médios e grandes (tablets e laptops, menor que 1025.98px) */ 
@media (max-width: 1013.98px) {

    header {
        padding-left: var(--margin-content);
    }

    main {
        display: flex;
        flex-flow: column nowrap;
        padding: 4rem;
        margin: 0 auto;
        z-index: 2;
    }

    .main-content {
        text-align: center;
        margin-top: 1rem;
        display: block;
    }

    .main-content h1 {
        font-size: 4rem;
        width: 100%;
    }

    .main-content p {
        font-size: 2.2rem;
        max-width: 100%;
    }

    .main-content button {
        max-width: 100%;
    }

    .main-image-aside {
        order: -1;
    }

    .main-image-aside img {
        width: 100%;
        position: static;
        max-height: 100%;
    }
}

/* dispositivos pequenos (mobile, menor que 575.98px) */
@media (max-width: 575.98px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Galaxy fold e breakpoint s8+ */
@media (max-width: 360px) {
    .header-logo {
        font-size: 2rem;
        padding-left: 1rem;
    }

    .header-menu-items {
        font-size: 1.5rem;
    }

    .main-content h1 {
        font-size: 2.8rem;
    }
}